.card-header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

.posteos {
    display: flex;
    flex-wrap: wrap;
}
.card{
    border-radius: 15px;
}
.radio{
    border-radius: 75px!important;
}
.radio:hover{
    background-color: rgb(168, 44, 44);
    color: seashell !important;
}